.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.headerHeropage {
  color: #3b4130;
  font-size: 24px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.viewerPage {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 24px;
  padding-top: 16px;
  height: 100vh;
}

.downloadBlock {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 16px;
  position: sticky;
  top: 0;
}

svg {
  display: flex;
  align-items: center;
  line-height: 0;
}

.downloadBlock label {
  display: inline-flex;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.downloadBlock label:hover {
  transform: translateY(-1.5px);
  cursor: pointer;
}

.marksAndFile {
  display: flex;
  flex: 1;
  min-height: 0;
  overflow: hidden;
  justify-content: center;
}

.bookmarksFirstBlock {
  display: flex;
  flex-direction: column;
}

.actionBookmarks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 12px;

  border-bottom: solid 1px #bc7520;
  background: linear-gradient(180deg, #e3e0c4 0%, #d8b96a 100%);
}

/*.bookmarks {
  color: #3b4130;
  font-size: 16px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  margin-bottom: 24px;
}*/
.closeBtn {
  position: absolute;
  top: 13px;
  right: 32px;
  padding: 0;
  background-color: #d3cd9a;
  background-color: #e3e0c4;
}

.closeBtn:focus {
  outline: none;
}

.closeBtn:focus-visible {
  outline: none;
}

.closeBtn:hover {
  outline: none;
  border: solid 1px #d3cd9a;
  border: solid 1px #e3e0c4;
  transform: translateY(-1.5px);
  cursor: pointer;
}

/* основна кнопка з номером сторінки */
.bookmarkBtn {
  /*width: 32px;
  height: 32px;*/
  font-size: 12px;
  font-weight: 600;
  padding: 8px 12px 2px 12px;
  background-color: #38382c;
  background-color: #fffef9;
  background-color: transparent;
  color: #f3f4f2;
  color: #141413;
  font-weight: 400;

  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;

  /* видаляємо фокус-підсвічування */
  outline: none;
  box-shadow: none;
}

.bookmarkBtn:hover {
  color: #f3f4f2;
}

.bookmarkBtn:focus,
.bookmarkBtn:active {
  outline: none;
  box-shadow: none;
}

/* кнопка видалення ✕ */
.removeBtn {
  /*width: 32px;
  height: 32px;*/
  padding: 8px 12px 2px 12px;

  background-color: transparent;
  border: none;
  border-radius: 6px;
  color: #e53935;

  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  box-shadow: none;
}

.removeBtn:hover {
  transform: translateY(-1.5px);
  cursor: pointer;
  color: #f3f4f2;
}

.removeBtn:focus,
.removeBtn:active {
  outline: none;
  box-shadow: none;
}

.bookmarksWrapper {
  height: calc(100vh - 78px);
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 8px;
  margin-right: 16px;
  max-width: 96px;
}

/* У твоєму PdfViewer.module.css або глобально */
.bookmarksWrapper::-webkit-scrollbar {
  width: 8px;
}

.bookmarksWrapper::-webkit-scrollbar-track {
  background: #d8d3aa; /* світлий фон треку */
  border-radius: 6px;
}

.bookmarksWrapper::-webkit-scrollbar-thumb {
  background-color: #bc7520; /* основний колір скролу */
  border-radius: 6px;
  border: 2px solid #d8d3aa; /* ефект відступу всередині треку */
}

.bookmarksWrapper::-webkit-scrollbar-thumb:hover {
  background-color: #9c5817; /* темніший при наведенні */
}

.bookmarksWrapper:empty {
  display: none;
}

.activeBookmark {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  border-bottom: solid 1.5px #fffef9;
  background: linear-gradient(180deg, #e3e0c4 0%, #7b5108 100%);
}

/* Навігаційні кнопки ← → */
.navBtn {
  width: 40px;
  height: 28px;

  background-color: #f3f4f2;
  color: #38382c;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;

  outline: none;
  box-shadow: none;
  transition: background-color 0.2s ease;
}

.navBtn:focus,
.navBtn:active {
  outline: none;
  box-shadow: none;
}

.navBtn:hover {
  background-color: #38382c;
  color: #ffffff;
}

.arrows {
  display: flex;
  align-items: center;
}

.pageLabel {
  font-size: 16px;
  color: #121310;
  padding: 0 8px;
}

.pageInlineInput {
  width: 40px;
  text-align: center;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  padding: 4px 2px;
  outline: none;
}

.pageInlineInput {
  color: #121310;
  font-weight: 500;
}

.pageInlineInput:focus,
.pageInlineInput:hover {
  outline: none;
}

.iconsBottom {
  background-color: inherit;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 1px;
  cursor: pointer;
  user-select: none;

  outline: none;
  box-shadow: none;
  transition: background-color 0.2s ease;
  margin-left: 16px;
}

.bookmarkIconActive {
  fill: #e53935; /* червоний */
}

button .bookmarkIcon:hover {
  fill: rgb(226, 140, 134);
}

button:focus {
  border: none;
}

.navBtn:focus-visible {
  outline: none;
}

.iconsBottom:focus-visible {
  outline: none;
}

.iconsBottom:focus {
  outline: none;
}

.pagesAndMark {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}

.bottomBlock {
  height: 60px;
  background-color: transparent;
}
