.headerHeropage {
  color: #3b4130;
  font-size: 24px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.viewerPage {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 24px;
}

.downloadBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

svg {
  display: flex;
  align-items: center;
}

.downloadBlock label {
  display: inline-flex;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.downloadBlock label:hover {
  transform: translateY(-1.5px);
  cursor: pointer;
}

.footerGap {
  height: 16px;
  background: transparent;
}

.closeBtn {
  position: absolute;
  top: 13px;
  right: 16px;
  padding: 0;
  background-color: #d3cd9a;
}

.closeBtn:focus {
  outline: none;
}

.closeBtn:focus-visible {
  outline: none;
}

.closeBtn:hover {
  outline: none;
  border: solid 1px #d3cd9a;
  transform: translateY(-1.5px);
  cursor: pointer;
}
