.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 32px;
}

.headerHeropage {
  color: #3b4130;
  font-size: 24px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.viewerPage {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 24px;
}

.downloadBlock {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 16px;
  position: sticky;
  top: 0;
  padding-left: 130px;
}

svg {
  display: flex;
  align-items: center;
  line-height: 0;
}

.downloadBlock label {
  display: inline-flex;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.downloadBlock label:hover {
  transform: translateY(-1.5px);
  cursor: pointer;
}

.marksAndFile {
  display: flex;
  height: calc(100vh - 160px);
}

.bookmarksFirstBlock {
  display: flex;
  flex-direction: column;
}

.actionBookmarks {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 10px;
}

.bookmarks {
  color: #3b4130;
  font-size: 16px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  margin-bottom: 24px;
}
.closeBtn {
  position: absolute;
  top: 13px;
  right: 16px;
  padding: 0;
  background-color: #d3cd9a;
  background-color: #e3e0c4;
}

.closeBtn:focus {
  outline: none;
}

.closeBtn:focus-visible {
  outline: none;
}

.closeBtn:hover {
  outline: none;
  border: solid 1px #d3cd9a;
  border: solid 1px #e3e0c4;
  transform: translateY(-1.5px);
  cursor: pointer;
}

/* основна кнопка з номером сторінки */
.bookmarkBtn {
  width: 32px;
  height: 32px;
  font-size: 16px;
  font-weight: 600;

  background-color: #38382c;
  color: #f3f4f2;
  font-weight: 300;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;

  /* видаляємо фокус-підсвічування */
  outline: none;
  box-shadow: none;
}

.bookmarkBtn:hover {
  background-color: #4b4b3c;
}

.bookmarkBtn:focus,
.bookmarkBtn:active {
  outline: none;
  box-shadow: none;
}

/* кнопка видалення ✕ */
.removeBtn {
  width: 32px;
  height: 32px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  color: #e53935;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  box-shadow: none;
}

.removeBtn:focus,
.removeBtn:active {
  outline: none;
  box-shadow: none;
}

.bookmarksWrapper {
  flex: 1;
  overflow: auto;
  padding-right: 4px;
  margin-right: 16px;
}

/* У твоєму PdfViewer.module.css або глобально */
.bookmarksWrapper::-webkit-scrollbar {
  width: 8px;
}

.bookmarksWrapper::-webkit-scrollbar-track {
  background: #d8d3aa; /* світлий фон треку */
  border-radius: 6px;
}

.bookmarksWrapper::-webkit-scrollbar-thumb {
  background-color: #bc7520; /* основний колір скролу */
  border-radius: 6px;
  border: 2px solid #d8d3aa; /* ефект відступу всередині треку */
}

.bookmarksWrapper::-webkit-scrollbar-thumb:hover {
  background-color: #9c5817; /* темніший при наведенні */
}
