.iconsBottom {
  background-color: inherit;
  margin: 0;
}

.bookmarksBlock {
  display: flex;
  align-self: flex-start;
  gap: 8px;
  align-items: center;
  margin-top: 20px;
  padding-top: 4px;
  border-top: solid 1px #3c3c35;
}

.bookmarkIcon {
  fill: #3c3c35;
  transition: fill 0.3s ease;
}

.bookmarkIconActive {
  fill: #e53935; /* червоний */
}

button .bookmarkIcon:hover {
  fill: rgb(226, 140, 134);
}

.pdfWrapper {
  height: calc(100vh - 214px);
  overflow: auto;
}

/* У твоєму PdfViewer.module.css або глобально */
.pdfWrapper::-webkit-scrollbar {
  width: 8px;
}

.pdfWrapper::-webkit-scrollbar-track {
  background: #d8d3aa; /* світлий фон треку */
  border-radius: 6px;
}

.pdfWrapper::-webkit-scrollbar-thumb {
  background-color: #bc7520; /* основний колір скролу */
  border-radius: 6px;
  border: 2px solid #d8d3aa; /* ефект відступу всередині треку */
}

.pdfWrapper::-webkit-scrollbar-thumb:hover {
  background-color: #9c5817; /* темніший при наведенні */
}
